.FileInput {
  border: var(--mantine-border-hairline) solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
  line-height: var(--mantine-line-height-sm);
  padding-top: 6px;
  padding-bottom: 6px;
}

.FileIcon {
  width: rem(20px);
  height: rem(20px);
  color: var(--mantine-color-secondary-7);
}

.Label {
  font-weight: 600;
  margin-bottom: var(--mantine-spacing-xs);
}

:root[data-mantine-color-scheme='dark'] {
  .FileInput {
    border-color: var(--mantine-color-gray-0);
    background-color: var(--mantine-color-secondary-7);
    color: var(--mantine-color-gray-0);

    ::placeholder {
      color: var(--mantine-color-gray-3);
    }
  }

  .Label {
    color: var(--mantine-color-primary-1);
  }
}
