.InfoWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.ActionsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
