.Wrapper p {
  font-size: var(--mantine-font-size-sm);
}

.Info {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg) var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-3);
}
