.Wrapper {
  background: url(../../../assets/images/bg/auth-bg.webp) bottom center no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.Container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: var(--mantine-spacing-2xl) var(--mantine-spacing-2xl);
}

@media (max-width: rem(960px)) {
  .Container {
    justify-content: center;
  }
}
