.PageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mantine-spacing-lg);
}

.ActionCard {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  max-width: 32rem;

  .ActionTitle {
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-md);
  }

  .ActionDescrption {
    color: var(--mantine-color-secondary-5);
  }

  .Icon {
    width: rem(64px);
    height: rem(64px);
    color: var(--mantine-color-text);
  }
}
